h1,h2,h3,h4,h5,h6{
	color: #A4A400 ;
	background-color: #F0F0F0 ;
	font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
	text-decoration: underline;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 22pt;
}
h2,h3,h3,h5,6 {
	font-weight: normal;
	font-style:normal;
	text-align: left;
	font-size: 18pt;
}
body {
	background-color: rgb(255,255,255);
	color: #404040;
	font-family: Georgia, Garamond, serif ;
	font-size: 11pt;
}
a {
	color: #A4A400;
} 
		
blockquote {
	background-color: yellow;
	font-style: italic;
}

